# Python
*.pyc
__pycache__/

# Environment
.env
venv/
.venv/
ENV/
env/

# Django Migrations
**/migrations/

# Database
db.sqlite3

# Static and Media Files
/staticfiles/
/media/

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Logs
*.log