{% extends "auctions/layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}


{% block body %}
    <h2 style="font-weight: bold; text-align: center; font-family: Nunito;">Add Product</h2>
    <div id="activelist">
        <form  action="{% url 'create' %}" method="POST" >
            {% csrf_token %}
            <div class="title">
                <input required placeholder="Title" autofocus type="text" name="create_title"/>
            </div>
            <div class="desc">
                <textarea placeholder="Add Description" required name="create_desc"></textarea>
            </div>
            <div class="start">
                <input required placeholder="Starting bid" type="number" name="create_initial_bid"/>
            </div>
            <div class="image">
                <input placeholder="Image URL" type="text" name="img_url"/>
            </div>
            <div class="cat">
                <select name="category" required>
                    <option value="" disabled selected>Select a category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="button">
                <button class="btn btn-outline-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}